.metadata
.env
*.stamp
*.xml
/.dart_tool
/.idea
/lib copy/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
/build

auth_provider/.flutter-plugins
auth_provider/.flutter-plugins-dependencies
